body{
    font-family: Avenir Next;
}
.header{
    background-color:#888888;
    height: 50px;
    padding:5px;
}
.header-logo{
    color: white;
    font-size: 40px;
    opacity: 0.7;
}
.top-wrapper{
    padding: 100px 0 100px 0;
    background-image: url(IMG_E8342.JPG);
    background-size: cover;
    color: white;

}
.contents-item{
    display:flex;
    flex-direction:column;
    width: 20%;
}
details li{
    list-style:none;
    flex-direction: row;
}
.btn{
    padding: 20px 24px;
    color: black;
    display: inline-block;
    
}
.contents{
    color: black;
    margin: 10px;
    padding: 10px;
}
