body{
    font-family: Avenir Next;
}
.header{
    background-color:#888888;
    height: 50px;
    padding:5px;
}
.header-logo{
    color: white;
    font-size: 40px;
    opacity: 0.7;
}
.top-wrapper{
    padding: 300px 100px;
    background-image:url(https://github.com/kaaaaai88888/sample/blob/main/IMG_E8342.JPG?raw=true);
    background-size: cover;
    color: white;

}
.contents-wrapper{
background-color:whitesmoke;
}
.container{
text-align: center;
}
.contents-item{
    display: flex;
    flex-direction:column;
    width: 100%;
    margin-right: auto;
}
details{
    list-style:none;
    
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    background-color:gray;
}
h5{
    background-color:black;
    color: white;
   
}
.contents{
    background-color: gray;
    box-shadow: 0 7px black;
    color: black;
    margin: 10px;
    padding: 10px;
    text-align: center;

}
.contents:active{
    box-shadow: none;
    position: relative;
    top: 7px;
}

.contents2{
    background-color: gray;
    box-shadow: 0 7px black;
    color: black;
    margin: 10px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

footer{
    background-color: gray;
    height: 25px;
    padding: 5px;
}
.footer-logo{
    float:left;
}
